/* Journal */

.journal {
    item-spacing: 24px;
    row-spacing: 24px;
    padding: 0px 9px 0px 0px;
    color: white;
}

.journal-item {
    /* copied from app-well-app */
    border-radius: 4px;
    padding: 3px;
    border: 1px rgba(0,0,0,0);
    font-size: 7.5pt;
    color: white;
    transition-duration: 100;
    text-align: center;
}

.journal-item .overview-icon {
    icon-size: 96px;
}

.journal-item:hover {
    background-color: rgba(255,255,255,0.1);
    text-shadow: black 0px 2px 2px;
    transition-duration: 100;
}

/* same as journal-item:hover, for multi-selection */
.journal-item-selection {
    background-color: rgba(255,255,255,0.1);
    text-shadow: black 0px 2px 2px;
    transition-duration: 100;
}

.journal-heading {
    font-size: 12pt;
    font-weight: bold;
    /* text-shadow: black 0px 2px 2px;
    /*background-image: url("filter-selected-rtl.svg");*/
}

.journal-box {
    color: black;
    background-color: rgba(255,255,255,0.5);
    border-radius: 0.25em;
    padding: 3px 1.00em;
}

.journal-more {
    font-size: 10pt;
    font-weight: bold;
    color: #000;
}

.journal-more:hover {
    color: #fff;
}

.sub-journal {
    padding: 0px 0px 21px 0px;
    color: white;
}
